/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-oct-2018, 15:30:19
    Author     : Alexm
*/

.sectionBody {
    display: flex;
    height: 100%;
    margin: 0 6vw;
}

.location {
    display: flex;
    margin: 0.4vw 0;
    justify-content: space-between;
    float: start;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 58%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 58%, 0 100%);
    z-index: 22;
    background-color: #2e86c1;
    height: 4vw;
    margin-bottom: -2vw;
    z-index: 1;
}

.location span {
    color: white;
    margin-left: 0.5vw;
    font-size: 1.2vw;
    font-weight: 700;
    padding: 0.2vw 0.7vw;
}

.section_uno {
    display: flex;
    flex-direction: column;
    background-color: #2e86c1;
    width: 80%;
    margin-top: 1.5vw;
    /*    -webkit-box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.3);
        box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.3);*/
}

.uno-trabajo,
.texto {
    height: 50vw;
}

.carrusel {
    /*    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.35);*/
}

.descripcion {
    display: inherit;
    margin: 2vw 1vw;
    padding-bottom: 6vw;
    display: flex;
    flex-direction: row;

}

.descripcion div {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.descripcion h3 {
    margin: 0;
    margin-bottom: 0.5vw;
}

.descripcion div {
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0 1vw;
    /*    -webkit-box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.23);
        box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.23);*/
    padding: 1.3vw;
    height: 100%;
    text-align: justify;
}

.descripcion a {
    color: blue;
}

.section_dos {
    margin-left: 2vw;
    width: 20%;
}

.lateral {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1vw 0 0 0;
    /*    -webkit-box-shadow: 6px 4px 6px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 6px 4px 6px 0px rgba(0,0,0,0.23);
        box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.23);*/
}

.lateral .titulo {
    background-color: #2e86c1;
    padding: 0.2vw 0;
    border-radius: 1vw 0;
    text-align: center;
}

.lateral .decorado {
    color: white;
    margin-left: 0.4vw;
    font-size: 1.4vw;
}

.lateral .cuerpo .cultural {
    padding: 0.5vw 0.72vw;
}

.cultural img {
    width: 100%;
    cursor: pointer;
}

.margen {
    margin-top: 1.5vw;
}

.acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.3vw;
}

.acceso .user{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
}

.acceso .desc a{
    color: white;
    background-color: #2e86c1;
    text-decoration: none;
    width: 50%;
    display: block;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5vw;
    padding: 3%;
    margin: auto;
}

.acceso .desc a:hover{
    transition: 2s;
    background-color: rgb(4, 90, 156);
}

.acceso img {
    height: 80%;
    margin-right: 0.8vw;
    margin-left: 0.9vw;
    display: block;
    margin-top: 3%;
}

.acceso h3 {
    font-size: 1.6vw;
    word-wrap: break-word;
    margin-top: 11px;
    text-align: center;
    margin-bottom:  0px;
}

.div-img {
    background-color: #dedede;
    border-radius: 0.4vw 0 0 0.4vw;
    border: 0.05vw solid #999999;
    border-right: 0;
}

#usuario,
#pass {
    border: 0;
    border-radius: 0 0.4vw 0.4vw 0;
    text-indent: 0.5vw;
    border: 0.05vw solid #999999;
    border-left: 0;
    width: 100%;
    font-size: 1vw;
}

#usuario::placeholder,
#pass::placeholder {
    color: #c2c2c2;
    font-size: 1vw;
}

#usuario:focus,
#pass:focus {
    border-radius: 0 0.4vw 0.4vw 0 !important;
    border: none;
}

.boton-enviar {
    border: 0;
    width: 100%;
    padding: 0.4vw 0;
    background-color: #dedede;
    font-size: 1.1vw;
    margin-top: 0.4vw;
    letter-spacing: 0.07vw;
    font-family: 'Delius', cursive;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #cccccc;
}

.sectionFooter {
    background-color: rgb(4, 90, 156);
    /*    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 50% 100%, 0 100%, 0% 10%);
        clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 50% 100%, 0 100%, 0% 10%);*/
    /*    margin-top: -3.8vw;*/
}

.contenedorFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3.5vw;
}

.mapa {
    width: 100%;
    height: 100%;
}

.mapa iframe {
    height: 100%;
    width: 100%;
    /*    -webkit-box-shadow: 6px 4px 6px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 6px 4px 6px 0px rgba(0,0,0,0.23);
        box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.23);*/
    border: none;
}

.footer-uno {
    margin-left: -2vw;
}

.footer-uno,
.footer-dos,
.footer-tres {
    text-align: center;
    width: 22%;
}

.footer-dos {
    width: 30%;
}

.direccion,
.contacto,
.email,
.lineas {
    display: flex;
    flex-direction: column;
}

.titulo-f {
    font-size: 1vw;
    border-bottom: 3px solid rgb(46, 134, 193);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    padding: 0 3vw;
    color: white;
    font-weight: 700;
}

.icono {
    display: block !important;
    margin-right: 0.3vw;
}

.despan {
    margin-top: 0.3vw;
    color: lightcyan;
    font-size: 0.9vw;
}

.contacto {
    margin-top: 1.5vw;
}

.email .titulo-f {
    padding: 0 5vw;
}

.lineas .titulo-f {
    padding: 0 4vw;
}

.lineas {
    margin-top: 2vw;
}

.inicio {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 50%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 50%, 0 100%, 0 0);
    height: 4vw;
    background-color: #2e86c1;
}

.final {
    -webkit-clip-path: polygon(50% 70%, 100% 0, 100% 61%, 100% 100%, 0 100%, 0 57%, 0 0);
    clip-path: polygon(50% 80%, 100% 0, 100% 61%, 100% 100%, 0 100%, 0 57%, 0 0);
    height: 4vw;
    background-color: #2e86c1;
}

.i4ewOd-pzNkMb-haAclf {
    background-color: #2e86c1 !important;
}

.accesoM {
    display: none !important;
}
